/*
The default style sheet for the entire site.
*/


/*Reset browser's own internal CSS stylesheet before reading this file. */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0efef;
    font-family: "Abel", sans-serif;
    font-size: 100%;
    margin: 0 auto;
    width: 900px;
}

header {
    background-color: #ddeedd;
    background-image: url("../img/header.jpg");
    background-size: 100% 100%;
    min-height: 300px;
}

h1 {
    color: #fff;
    padding: 189px 119px 26px 83px;
}

nav {
    background-color: #c2d4dd;
    float: left; 
    min-height: 600px;
    width: 300px;
}

.main-nav {
    background-color:#b0aac0;
    padding-top: 30px;
}

.main-nav li {
    list-style-type: none;
    padding: 20px;
    text-align: center;  
}

.main-nav li a:link {
    text-decoration: none;
}

.social-links {
    background-color:#c0ded9;
    padding-top: 30px; 
}

.social-links li {
    list-style-type: none;
    padding: 28.2px;
    text-align: center;
}

.social-links li a:link {
    text-decoration: none;
}

main {
    background-color: #e4d1d1;
    float: right;
    min-height: 600px;
    width: 600px;
}

footer {
    background-color: #e3e0cc;
    clear: both;
    min-height: 50px;   
}
